services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  code-runner:
    build:
      context: ./code-runner
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - code-exchange:/exchange
    environment:
      - RABBIT_URL=amqp://guest:guest@rabbitmq:5672/
      - AGENT_PATH=/app/agent
      - EXCHANGE_DIR=/exchange
      - EXCHANGE_VOLUME_NAME=code-exchange
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: always

volumes:
  code-exchange:
    name: code-exchange
